version: "3.7"
services:
  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: saisonier_pb
    restart: unless-stopped
    ports:
      - "8091:8090"
    volumes:
      - ./pb_data:/pb_data
    command:
      - --publicDir=/pb_public
